{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">


    <h1>Basdecaisse</h1>

            <table class="table  table-striped">
                <tbody>
                <thead class="table-dark">
                <tr>

                    <th scope="col" class="col-sm-1">Code</th>
                    <th scope="col" class="col-lg-3"> Désignation</th>
                    <th scope="col" class="col-md-1">Confirme/Non</th>
                    <th scope="col" class="col-md-5">Remarque</th>
                </tr>
                </thead>

            <tr>
                <th>1</th>
                <th name="a">Soudure des connections</th>
                 <td>{{ basdecaisse.soudurecnx }}</td>
                 <td>{{ basdecaisse.rmqsoudurecnx }}</td>
            </tr>
            <tr>
                <th>2</th>
                <th name="a">Fixation des boulons des membrures</th>
                <td>{{ basdecaisse.fixation }}</td>
                <td>{{ basdecaisse.rmqfixation }}</td>
            </tr>
            <tr>
                <th>3</th>
                <th name="a">Etancheite de la carrosseriere</th>
                <td>{{ basdecaisse.etancheite }}</td>
                <td>{{ basdecaisse.rmqetancheite }}</td>
            </tr>
            <tr>
                <th>4</th>
                <th name="a">Peinture bas de caisse</th>
                <td>{{ basdecaisse.peinture }}</td>
                <td>{{ basdecaisse.rmqpeinture }}</td>
            </tr>
            <tr>
                <th>5</th>
                <th name="a">Absence depassement Visserie</th>
                <td>{{ basdecaisse.visserie }}</td>
                <td>{{ basdecaisse.rmqvisserie }}</td>
            </tr>
            <tr>
                <th>6</th>
                <th name="a">Absence de déchet de Carrosserie</th>
                <td>{{ basdecaisse.carrosserie }}</td>
                <td>{{ basdecaisse.rmqcarrosserie }}</td>
            </tr>
            <tr>
                <th>7</th>
                <th name="a">Absence de Frottement entre</th>
                <td>{{ basdecaisse.frottement }}</td>
                <td>{{ basdecaisse.rmqfrottement }}</td>
            </tr>
            <tr>
                <th>8</th>
                <th name="a">Fixation Roue de secours</th>
                <td>{{ basdecaisse.fixationroue }}</td>
                <td>{{ basdecaisse.rmqfixationroue }}</td>
            </tr>
            <tr>
                <th>9</th>
                <th name="a">Passage et fixation des cables et flexibles</th>
                <td>{{ basdecaisse.fixationcable }}</td>
                <td>{{ basdecaisse.rmqfixationcable }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('basdecaisse_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('basdecaisse_edit', { 'id': basdecaisse.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
        </div>
    </div>
{% endblock %}
