{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Service Controle Chassis

        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">Home</a>
            </li>
            <li class="breadcrumb-item active">Liste Chassis</li>
        </ol>
                <div class="list-group" style="margin-bottom: 20px">
                <a href="{{ path('receptionchassis_new') }}">Ajouter une Chassis à le serice de controle</a>
                </div>
        <!-- End Page Content -->
                <div class="row">
                    {% for receptionchassi in receptionchasses %}
                    <div class="col-lg-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="{{ asset('images/icon/controlechassis.jpg') }}" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">{{ receptionchassi.nchassis }}</a>
                                </h4>
                                <p class="card-text"><p>Etat generale chassis: {{ receptionchassi.generalchassis }}</p>
                                                    <p> Le Mecanicien :     {{ receptionchassi.mecanicien }}  </p>
                                                    <p> Controle qualité : {{ receptionchassi.contqualite }} </p>
                                                    <p> Responsable Qualité :{{ receptionchassi.responsablequalite }}  </p>

                                <p>
                                    <a class="btn btn-outline-primary" href="{{ path('receptionchassis_show', { 'id': receptionchassi.id }) }}" style="margin-right: 20px">Consulter</a>
                                    </li>

                                    <a class="btn btn-outline-warning " href="{{ path('receptionchassis_edit', { 'id': receptionchassi.id }) }}">Modifier</a>
                                </p>

                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
    </div>



{% endblock %}
