{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                    <h1>Receptionchasses list</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>N° Chassis</th>
                        <th>Generalchassis</th>
                        <th>Mecanicien</th>
                        <th>Contqualite</th>
                        <th>Responsablequalite</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for receptionchassi in receptionchasses %}
                        <tr>
                            <td><a href="{{ path('receptionchassis_show', { 'id': receptionchassi.id }) }}">{{ receptionchassi.id }}</a></td>
                            <td>{{ receptionchassi.nchassis }}</td>
                            <td>{{ receptionchassi.generalchassis }}</td>
                            <td>{{ receptionchassi.mecanicien }}</td>
                            <td>{{ receptionchassi.contqualite }}</td>
                            <td>{{ receptionchassi.responsablequalite }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('receptionchassis_show', { 'id': receptionchassi.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('receptionchassis_edit', { 'id': receptionchassi.id }) }}">edit</a>
                                    </li>
                                   
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    <ul>
        <li>
            <a href="{{ path('receptionchassis_new') }}">Create a new receptionchassi</a>
        </li>
    </ul>
    </div>
{% endblock %}
