{% extends 'base.html.twig' %}

{% block body %}
    <br/>
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

    <h1>Receptionchassi</h1>

    <table class="table  table-striped">
        <tbody>
        <thead class="table-dark">
        <tr>

            <th scope="col" class="col-md-1">N°</th>
            <th scope="col" class="col-md-1"> Contole</th>
            <th scope="col" class="col-md-1">Valide</th>
            <th scope="col" class="col-md-5">Remarque</th>
        </tr>
        </thead>
        <tr>
            <th>***</th>
            <th>Generalchassis</th>
            <td>{{ receptionchassi.generalchassis }}</td>
            <td>{{ receptionchassi.rmqgeneralchassis }}</td>


        </tr>
        <tr>
            <th>***</th>
            <th>Huilemoreur</th>
            <td>{{ receptionchassi.huilemoreur }}</td>
            <td>{{ receptionchassi.rmqhuilemoreur }}</td>

        </tr>
        <tr>
            <th>***</th>
            <th>Boitevitesse</th>
            <td>{{ receptionchassi.boitevitesse }}</td>
            <td>{{ receptionchassi.rmqboitevitesse }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Huiledirection</th>
            <td>{{ receptionchassi.huiledirection }}</td>
            <td>{{ receptionchassi.rmqhuiledirection }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Liquiderefroidisement</th>
            <td>{{ receptionchassi.liquiderefroidisement }}</td>
            <td>{{ receptionchassi.rmqliquiderefroidisement }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Ventilateur</th>
            <td>{{ receptionchassi.ventilateur }}</td>
            <td>{{ receptionchassi.rmqventilateur }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Embrayage</th>
            <td>{{ receptionchassi.embrayage }}</td>
            <td>{{ receptionchassi.rmqembrayage }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Huilefuitechassis</th>
            <td>{{ receptionchassi.huilefuitechassis }}</td>
            <td>{{ receptionchassi.rmqhuilefuitechassis }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Fuitedaire</th>
            <td>{{ receptionchassi.fuitedaire }}</td>
            <td>{{ receptionchassi.rmqfuitedaire }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Rouesecours</th>
            <td>{{ receptionchassi.rouesecours }}</td>
            <td>{{ receptionchassi.rmqrouesecours }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Filtresecondaire</th>
            <td>{{ receptionchassi.filtresecondaire }}</td>
            <td>{{ receptionchassi.rmqfiltresecondaire }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Centraleelectrique</th>
            <td>{{ receptionchassi.centraleelectrique }}</td>
            <td>{{ receptionchassi.rmqcentraleelectrique }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Tableaubord</th>
            <td>{{ receptionchassi.tableaubord }}</td>
            <td>{{ receptionchassi.rmqtableaubord }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Exthuiledirection</th>
            <td>{{ receptionchassi.exthuiledirection }}</td>
            <td>{{ receptionchassi.rmqexthuiledirection }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Cledouble</th>
            <td>{{ receptionchassi.cledouble }}</td>
            <td>{{ receptionchassi.rmqcledouble }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Docchassis</th>
            <td>{{ receptionchassi.docchassis }}</td>
            <td>{{ receptionchassi.rmqdocchassis }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Codeereur</th>
            <td>{{ receptionchassi.codeereur }}</td>
            <td>{{ receptionchassi.rmqcodeereur }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Kitaccesoires</th>
            <td>{{ receptionchassi.kitaccesoires }}</td>
            <td>{{ receptionchassi.rmqkitaccesoires }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Remorquage</th>
            <td>{{ receptionchassi.remorquage }}</td>
            <td>{{ receptionchassi.rmqremorquage }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Protectionchassis</th>
            <td>{{ receptionchassi.protectionchassis }}</td>
            <td>{{ receptionchassi.rmqprotectionchassis }}</td>
        </tr>
        <tr>
            <th>***</th>
            <th>Terminer le travail Atelier</th>
            <td>{% if receptionchassi.etat == false  %} False {% endif %}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
                <br/>
                    <!--   ici je met le border de site -->



        <table class="table">
            <tr>
                <th class="col">Remarques</th>
            </tr>

            <tr>
                <td style="font-size: large">{{ receptionchassi.remarques }}</td>
            </tr>
        </table>


    <ul>
        <li>
            <a href="{{ path('receptionchassis_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('receptionchassis_edit', { 'id': receptionchassi.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
            </div>

            <div class="col-lg-4">
                <h1>Validation</h1>
                <table class="table">
                    <tr>
                        <th>Mecanicien</th>
                        <th>Contqualite</th>
                        <th>Responsablequalite</th>
                    </tr>

                    <tr>
                        <td>{{ receptionchassi.mecanicien }}</td>
                        <td>{{ receptionchassi.contqualite }}</td>
                        <td>{{ receptionchassi.responsablequalite }}</td>
                    </tr>
                </table>
                <p>

                    Crée le {% if receptionchassi.date %}{{ receptionchassi.date|date('Y-m-d') }}
                        à {{ receptionchassi.date|date('H:i:s') }}{% endif %}
                </p>
            </div>



        </div>
    </div>
{% endblock %}
