{% extends 'base.html.twig' %}

{% block body %}
    <h1>Receptionchassi</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ receptionchassi.id }}</td>
            </tr>
            <tr>
                <th>Generalchassis</th>
                <td>{{ receptionchassi.generalchassis }}</td>
            </tr>
            <tr>
                <th>Huilemoreur</th>
                <td>{{ receptionchassi.huilemoreur }}</td>
            </tr>
            <tr>
                <th>Boitevitesse</th>
                <td>{{ receptionchassi.boitevitesse }}</td>
            </tr>
            <tr>
                <th>Huiledirection</th>
                <td>{{ receptionchassi.huiledirection }}</td>
            </tr>
            <tr>
                <th>Liquiderefroidisement</th>
                <td>{{ receptionchassi.liquiderefroidisement }}</td>
            </tr>
            <tr>
                <th>Ventilateur</th>
                <td>{{ receptionchassi.ventilateur }}</td>
            </tr>
            <tr>
                <th>Embrayage</th>
                <td>{{ receptionchassi.embrayage }}</td>
            </tr>
            <tr>
                <th>Huilefuitechassis</th>
                <td>{{ receptionchassi.huilefuitechassis }}</td>
            </tr>
            <tr>
                <th>Fuitedaire</th>
                <td>{{ receptionchassi.fuitedaire }}</td>
            </tr>
            <tr>
                <th>Rouesecours</th>
                <td>{{ receptionchassi.rouesecours }}</td>
            </tr>
            <tr>
                <th>Filtresecondaire</th>
                <td>{{ receptionchassi.filtresecondaire }}</td>
            </tr>
            <tr>
                <th>Centraleelectrique</th>
                <td>{{ receptionchassi.centraleelectrique }}</td>
            </tr>
            <tr>
                <th>Tableaubord</th>
                <td>{{ receptionchassi.tableaubord }}</td>
            </tr>
            <tr>
                <th>Exthuiledirection</th>
                <td>{{ receptionchassi.exthuiledirection }}</td>
            </tr>
            <tr>
                <th>Cledouble</th>
                <td>{{ receptionchassi.cledouble }}</td>
            </tr>
            <tr>
                <th>Docchassis</th>
                <td>{{ receptionchassi.docchassis }}</td>
            </tr>
            <tr>
                <th>Codeereur</th>
                <td>{{ receptionchassi.codeereur }}</td>
            </tr>
            <tr>
                <th>Kitaccesoires</th>
                <td>{{ receptionchassi.kitaccesoires }}</td>
            </tr>
            <tr>
                <th>Remorquage</th>
                <td>{{ receptionchassi.remorquage }}</td>
            </tr>
            <tr>
                <th>Protectionchassis</th>
                <td>{{ receptionchassi.protectionchassis }}</td>
            </tr>
            <tr>
                <th>Remarques</th>
                <td>{{ receptionchassi.remarques }}</td>
            </tr>
            <tr>
                <th>Rmqgeneralchassis</th>
                <td>{{ receptionchassi.rmqgeneralchassis }}</td>
            </tr>
            <tr>
                <th>Rmqhuilemoreur</th>
                <td>{{ receptionchassi.rmqhuilemoreur }}</td>
            </tr>
            <tr>
                <th>Rmqboitevitesse</th>
                <td>{{ receptionchassi.rmqboitevitesse }}</td>
            </tr>
            <tr>
                <th>Rmqhuiledirection</th>
                <td>{{ receptionchassi.rmqhuiledirection }}</td>
            </tr>
            <tr>
                <th>Rmqliquiderefroidisement</th>
                <td>{{ receptionchassi.rmqliquiderefroidisement }}</td>
            </tr>
            <tr>
                <th>Rmqventilateur</th>
                <td>{{ receptionchassi.rmqventilateur }}</td>
            </tr>
            <tr>
                <th>Rmqembrayage</th>
                <td>{{ receptionchassi.rmqembrayage }}</td>
            </tr>
            <tr>
                <th>Rmqhuilefuitechassis</th>
                <td>{{ receptionchassi.rmqhuilefuitechassis }}</td>
            </tr>
            <tr>
                <th>Rmqfuitedaire</th>
                <td>{{ receptionchassi.rmqfuitedaire }}</td>
            </tr>
            <tr>
                <th>Rmqrouesecours</th>
                <td>{{ receptionchassi.rmqrouesecours }}</td>
            </tr>
            <tr>
                <th>Rmqfiltresecondaire</th>
                <td>{{ receptionchassi.rmqfiltresecondaire }}</td>
            </tr>
            <tr>
                <th>Rmqcentraleelectrique</th>
                <td>{{ receptionchassi.rmqcentraleelectrique }}</td>
            </tr>
            <tr>
                <th>Rmqtableaubord</th>
                <td>{{ receptionchassi.rmqtableaubord }}</td>
            </tr>
            <tr>
                <th>Rmqexthuiledirection</th>
                <td>{{ receptionchassi.rmqexthuiledirection }}</td>
            </tr>
            <tr>
                <th>Rmqcledouble</th>
                <td>{{ receptionchassi.rmqcledouble }}</td>
            </tr>
            <tr>
                <th>Rmqdocchassis</th>
                <td>{{ receptionchassi.rmqdocchassis }}</td>
            </tr>
            <tr>
                <th>Rmqcodeereur</th>
                <td>{{ receptionchassi.rmqcodeereur }}</td>
            </tr>
            <tr>
                <th>Rmqkitaccesoires</th>
                <td>{{ receptionchassi.rmqkitaccesoires }}</td>
            </tr>
            <tr>
                <th>Rmqremorquage</th>
                <td>{{ receptionchassi.rmqremorquage }}</td>
            </tr>
            <tr>
                <th>Rmqprotectionchassis</th>
                <td>{{ receptionchassi.rmqprotectionchassis }}</td>
            </tr>
            <tr>
                <th>Mecanicien</th>
                <td>{{ receptionchassi.mecanicien }}</td>
            </tr>
            <tr>
                <th>Contqualite</th>
                <td>{{ receptionchassi.contqualite }}</td>
            </tr>
            <tr>
                <th>Responsablequalite</th>
                <td>{{ receptionchassi.responsablequalite }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('receptionchassis_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('receptionchassis_edit', { 'id': receptionchassi.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
