{% extends 'base.html.twig' %}

{% block body %}
 <div class="container">
     <div class="row">
         <div class="col-md-10">


    <h1>Accesoirexterieurs list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accesoirexterieur in accesoirexterieurs %}
            <tr>
                <td><a href="{{ path('accesoirexterieur_show', { 'id': accesoirexterieur.id }) }}">{{ accesoirexterieur.id }}</a></td>

                <td>{{ accesoirexterieur.date|date('Y-m-d H:i:s') }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('accesoirexterieur_show', { 'id': accesoirexterieur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('accesoirexterieur_edit', { 'id': accesoirexterieur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('accesoirexterieur_new') }}">Create a new accesoirexterieur</a>
        </li>
    </ul>
         </div>
     </div>
 </div>
{% endblock %}
