{% extends "::base.html.twig" %}

{% block title %}MyAlphabusBundle:Chassis:cherchassis{% endblock %}


{% block body %}
    <h1>Welcome to the Chassis:recherche listchassis page</h1>





    <div class="container">
        <h1>Enseignants</h1>
        <form style="margin-bottom: 10px;" action="cherchassis" method="GET">
            <input class="form-control" type="text" placeholder="Recherche par N° Chassis" name="nchassis" />
        </form>
        <form>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>N° Chassis</th>
                    <th>Type chassis</th>
                    <th>Date Reception</th>
                    <th>Controler</th>



                </tr>
                </thead>
                <tbody>
                {% for st in enss %}
                    <tr>
                        <td>{{ st.id }}</td>
                        <td>{{ st.nchassis }}</td>
                        <td>{{ st.typechassis }}</td>
                        <td>{{ st.datereception|date('d-m-Y')  }}</td>
                        <td>{{ st.controler }}</td>

                        <td><a class="btn btn-success" href="{{ path('edit_chassis', { 'id': st.id }) }}">Modifier</a></td>
                        <td><a class="btn btn-danger" href="{{ path('del_chassis', { 'id': st.id }) }}"><i class="glyphicon glyphicon-trash"></i> Supprimer</a></td>
                    </tr>
                {% else %}
                    <tr><td>Aucun Enseignnat n''a été trouvé.</td></tr>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="col-md-6">
            <a href="{{ path('list_chassis') }}" class="badge badge-info">
                list chassis
            </a>
            </div>
        </form>
    </div>
{% endblock %}


