<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AlphaBus{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->

            <link rel="stylesheet" href="{{ asset('css/modern-business.css') }}">



        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block navigation %}


        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">ALpha Bus Tunisie</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('homepage') }}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('service_test') }}">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Services Productions
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                <a class="dropdown-item" href="{{ path('list_chassis') }}">Reception Chassis</a>
                                <a class="dropdown-item" href="{{ path('affectation_index') }}">Affectation Chassis</a>
                                <a class="dropdown-item" href="{{ path('receptionchassis_index') }}">Controle Chassis</a>
                                <a class="dropdown-item" href="{{ path('structure_index') }}">Controle Structure</a>
                                <a class="dropdown-item" href="{{ path('peinture_index') }}">Controle Peinture</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('post_index') }}">Evénements</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Other Pages
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" href="full-width.html">Full Width Page</a>
                                <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                                <a class="dropdown-item" href="faq.html">FAQ</a>
                                <a class="dropdown-item" href="404.html">404</a>
                                <a class="dropdown-item" href="pricing.html">Pricing Table</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user "></i> {{ app.user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Profile</a>
                                <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">Edit Profile</a>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">logout </a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
        {% block body %}  {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="{{ asset('js/jquery.min.js') }}"></script>

            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

        {% endblock %}
    </body>
</html>
