{% extends 'base.html.twig' %}

{% block body %}
    <h1>Documentation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ documentation.id }}</td>
            </tr>
            <tr>
                <th>Modelclimatisation</th>
                <td>{{ documentation.modelclimatisation }}</td>
            </tr>
            <tr>
                <th>Compresseurclim</th>
                <td>{{ documentation.compresseurclim }}</td>
            </tr>
            <tr>
                <th>Evaporateur</th>
                <td>{{ documentation.evaporateur }}</td>
            </tr>
            <tr>
                <th>Condenseur</th>
                <td>{{ documentation.condenseur }}</td>
            </tr>
            <tr>
                <th>Refrigerateur</th>
                <td>{{ documentation.refrigerateur }}</td>
            </tr>
            <tr>
                <th>Installationaudio</th>
                <td>{{ documentation.installationaudio }}</td>
            </tr>
            <tr>
                <th>Posteradio</th>
                <td>{{ documentation.posteradio }}</td>
            </tr>
            <tr>
                <th>Amplificateur</th>
                <td>{{ documentation.amplificateur }}</td>
            </tr>
            <tr>
                <th>Lecteurdvd</th>
                <td>{{ documentation.lecteurdvd }}</td>
            </tr>
            <tr>
                <th>Afficheurdestination</th>
                <td>{{ documentation.afficheurdestination }}</td>
            </tr>
            <tr>
                <th>Afficheurdestination2</th>
                <td>{{ documentation.afficheurdestination2 }}</td>
            </tr>
            <tr>
                <th>Necran</th>
                <td>{{ documentation.necran }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('documentation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('documentation_edit', { 'id': documentation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
