{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post edit</h1>

{{ form_start(f) }}

        <div class="container">
            <div class="row">
                <div class="col-lg-6">


                    <div class="form-group">
                        <h4>Titre de votre Problème : </h4>
                        {{ form_widget(f.titre,{attr:{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <h4>Votre Remarques  : </h4>
                        {{ form_widget(f.remarques,{attr:{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <h4>Upload your file : </h4>
                        {{ form_widget(f.file,{attr:{'class':'form-control'}}) }}
                    </div>


                    <div class ="form-group">
                        <button type="submit" Class ="btn btn-primary">
                            <span class ="glyphicon-plus"/>Valider
                        </button>
                    </div>
                </div>
            </div>
        </div>

    {{ form_end(f) }}
    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
