{% extends 'base.html.twig' %}

{% block body %}

    <title>{% block title %}Réclamation{% endblock %}</title>

    <div class="container" xmlns="http://www.w3.org/1999/html">
    <h1>Posts list</h1>


    <ul>
        <li>
            <a href="{{ path('post_new') }}">Create a new post</a>
        </li>
    </ul>

    {% for post in posts |reverse %}

        <div class="row">

            <h3><span class="label label-primary"> {{ post.titre }}</span></h3>
            <div class="col-md-6">

                <img src="{{ asset('images/'~post.path)}}" alt="" style="width: 97%; height: 230px;"/>
            </div>
            <div class="col-lg-5">

                    <label for="exampleFormControlTextarea1">Remarque de <span class="label label-info"> {{ post.proprietaire }} </span></label>
                   <h4 class="large">
                       <style>
                           textarea{  resize:none;
                                      font-size: 20px;
                           }

                       </style>
                    <textarea class="form-control" id="exampleFormControlTextarea1" wrap="soft" rows="6"
                              placeholder="{{ post.remarques }}"></textarea>
                   </h4>
                        {% if post.etat == true %}
                            <div class="alert alert-success">

                                Votre reclamation a bien été traitée et tout fo
                            </div>
                        {% else %}
                            <div class="alert alert-danger">

                                fauut
                            </div>
                        {% endif %}

            </div>
           <div class="col-md-2">

           </div>

        </div>
            cree le {% if post.date %}{{ post.date|date('Y-m-d') }}
        à {{ post.date|date('H:i:s') }}{% endif %} par
        <label for="exampleFormControlTextarea1">Remarque de
        <span class="label label-info"> {{ post.proprietaire }}
        </span></label> <a href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>




            {% endfor %}

    </div>

{% endblock %}
