{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    <h1>Posts list</h1>


    <ul>
        <li>
            <a href="{{ path('post_new') }}">Create a new post</a>
        </li>
    </ul>

    {% for post in posts |reverse %}

        <div class="row">

            <h4>{{ post.titre }}</h4>
            <div class="col-md-5">

                <img src="{{ asset('images/'~post.path)}}" alt="" style="width: 450px; height: 200px;"/>

            </div>
               <p> Remarques</p>
            <div class="col-md-3">

               <textarea class="" value="{{ post.remarques }}"></textarea>
            </div>

           <div class="col-md-2">
               {% if post.etat == true %}
               <div class="alert alert-success">

                    il a bien traiteer
                </div>
               {% else %}
               <div class="alert alert-danger">

                   fauut
               </div>
               {% endif %}

           </div>



        </div>
            cree le {% if post.date %}{{ post.date|date('Y-m-d') }} à {{ post.date|date('H:i:s') }}{% endif %} par {{ post.proprietaire }} <a href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>




            {% endfor %}

    </div>

{% endblock %}
