{% extends 'base.html.twig' %}

{% block body %}

    <title>{% block title %}Réclamation{% endblock %}</title>



    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Blog Home Two
            <small>Subheading</small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">Blog Home 2</li>
        </ol>


    <ul>
        <li>
            <a href="{{ path('post_new') }}">Create a new post</a>
        </li>
    </ul>

    {% for post in posts |reverse %}

        <!-- Blog Post -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="#">
                            <img class="img-fluid rounded" src="{{ asset('images/'~post.path)}}" style="width:750px ; height: 300px;" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="card-title">{{ post.titre }}</h2>
                        <p class="card-text">{{ post.remarques }}</p>
                        <a href="#" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Crée le {% if post.date %}{{ post.date|date('Y-m-d') }}
                    à {{ post.date|date('H:i:s') }}{% endif %} by
                {{ post.proprietaire }}
                <a href="#">Start Bootstrap</a>
                <a href="{{ path('post_show', { 'id': post.id }) }}">Voir</a>
                {% if post.etat == true %}
                <div class="alert alert-success">

                    Votre Réclamation a bien été traitée et tout fonctionne
                </div>
                {% else %}
                    <div class="alert alert-danger">

                        Votre Réclamation a bien été prise en compte
                    </div>
                {% endif %}
            </div>
        </div>





            {% endfor %}
        <br/>
        <br/>
        <br/>
        <footer class="row">
        <div class="container">
            <div class="row">

                <div class="offset-4">   {{ knp_pagination_render(posts) }}</div>
            </div>
        </div>
        </footer>
        </div>
    </div>

{% endblock %}
