{% extends 'base.html.twig' %}

{% block body %}
    <h1>Circuitelectriques list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for circuitelectrique in circuitelectriques %}
            <tr>
                <td><a href="{{ path('circuitelectrique_show', { 'id': circuitelectrique.id }) }}">{{ circuitelectrique.id }}</a></td>
                <td>{{ circuitelectrique.date|date('Y-m-d H:i:s') }}</td>


                <td>
                    <ul>
                        <li>
                            <a href="{{ path('circuitelectrique_show', { 'id': circuitelectrique.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('circuitelectrique_edit', { 'id': circuitelectrique.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('circuitelectrique_new') }}">Create a new circuitelectrique</a>
        </li>
    </ul>
{% endblock %}
