{% extends "::base.html.twig" %}

{% block title %}MyAlphabusBundle:Servicetest:index{% endblock %}

{% block body %}


<!-- Portfolio Section -->
<div class="container" style="padding-top: 20px; padding-bottom: 10px" >
                <!-- Page Heading/Breadcrumbs -->
                    <h1 class="mt-4 mb-3">Ensembles de Test sur les  Atliers
                        <small> <h2>"Acier" "peinture" </h2></small>
                    </h1>

                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ path('homepage') }}">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Service Test</li>
                    </ol>
                <!-- End Page Content -->

             <form method="get" action="service_test" >

                 N°Chassis <input type="text" name="nchassis" class="search">
                 <input type="submit" value="submit" class="btn btn-primary">
             </form>

         <!--    Bare d'information de chassis -->
             <div class="row">
                 <div class="col-md-3">
                     {% for chassis in chassis %}
                         <p><h4><span class="badge badge-secondary">N°Chassis <span class="badge badge-warning">{{ chassis.nchassis }}</span></span></h4></p>
                     {% endfor %}
                 </div>

                 <div class="col-md-3">
                     {% for chassis in chassis %}
                         <p><h4><span class="badge badge-secondary">Type Chassis <span class="badge badge-warning">{{ chassis.typechassis }} </span></span></h4></p>
                     {% endfor %}
                 </div>

                 <div class="col-md-3">
                     {% for chassis in chassis %}
                         <p><h4><span class="badge badge-secondary">Date Reception <span class="badge badge-warning">{{ chassis.datereception|date('Y-m-d') }} </span></span></h4></p>
                     {% endfor %}
                 </div>

                 {% if client != '' %}
                     {% for id in client %}
                         <div class="col-md-3">
                             <p><h4><span class="badge badge-secondary">Affecter à <span class="badge badge-warning">{{ id.nclients }}</span></span></h4></p>
                         </div>
                     {% endfor %}
                 {% endif %}
             </div>
         <!--  End  Bare d'information de chassis -->


   <div class="row" style="padding-top: 30px">


     <!-- Controle Chassis -->

     <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ asset('images/atelier/controlechassis.jpg') }}" alt="" height="233px"></a>
            <div class="card-body">
                <h4 class="card-title">
                    {% if chassis != null %}
                      {% for r in reception %}

                            <a href="{{ path('receptionchassis_show', { 'id': r.id }) }}">Controle Chassis</a>
                            {% endfor %}
                         {% else %}
                        <a href="">Controle chassis</a>
                    {% endif %}

                    {% if chassis == null %}
                     <img src="{{ asset('images/atelier/info.png') }}" style="width: 50px;height: 50px ; padding-left: 10px">
                    <h6>  <p class="card-text"><span style="text-decoration: underline"> Etat Generale chassis :</span> ****** </p></h6>
                    <h6>  <p class="card-text"><span style="text-decoration: underline"> Valider par  :</span> ****** </p></h6>
                    <h6>  <p class="card-text"><span style="text-decoration: underline"> Les Remarques  :</span>
                            ****** </p></h6>

                    <h6>  <p class="card-text"><span style="text-decoration: underline"> Data Modification :</span> ****** à ****** </p></h6>
                    {% else %}
                    {% for r in reception %}

                    {% if r.etat == false %}
                        <img src="{{ asset('images/atelier/a.png') }}" style="width: 50px;height: 50px ">
                    {% else  %}
                        <img src="{{ asset('images/atelier/succus.png') }}" style="width: 50px;height: 50px ">
                    {% endif %}

                </h4>
                <h7>  <p class="card-text"><span style="text-decoration: underline"> Etat Generale chassis :</span> {{ r.generalchassis }} </p></h7>
                <h7>  <p class="card-text"><span style="text-decoration: underline"> Valider par  :</span> {{ r.mecanicien  }} </p></h7>
                <h7>  <p class="card-text"><span style="text-decoration: underline"> Les Remarques  :</span>
                        {% if r.remarques == null %}
                        *** Rien *** {% else %}
                        {{ r.remarques }} </p></h7> {% endif %}
                <h7>  <p class="card-text"><span style="text-decoration: underline"> Data Modification :</span> {{ r.date |date('Y-m-d') }} à {{ r.date|date('H:i:s') }} </p></h7>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <!--  End Controel chassis -->


       <!-- atelier acier -->

       <div class="col-lg-4 col-sm-6 portfolio-item">
           <div class="card h-100">
               <a href="#"><img class="card-img-top" src="{{ asset('images/atelier/acier.jpg') }}" alt=""></a>
               <div class="card-body">
                   <h4 class="card-title">
                       {% if chassis != null %}
                           {% for s in structure %}

                               <a href="{{ path('structure_show', { 'id': s.id }) }}">Atelier Acier</a>
                           {% endfor %}
                       {% else %}
                           <a href="">Atelier Acier</a>
                       {% endif %}

                       {% if chassis == null %}
                       <img src="{{ asset('images/atelier/info.png') }}" style="width: 50px;height: 50px ; padding-left: 10px">
                       <h6>  <p class="card-text"><span style="text-decoration: underline"> Etat Protection chassis :</span> ****** </p></h6>
                       <h6>  <p class="card-text"><span style="text-decoration: underline"> Valider par  :</span> ****** </p></h6>
                       <h6>  <p class="card-text"><span style="text-decoration: underline"> Les Remarques  :</span>
                               ****** </p></h6>

                       <h6>  <p class="card-text"><span style="text-decoration: underline"> Data Modification :</span> ****** à ****** </p></h6>
                       {% else %}
                       {% for s in structure %}

                       {% if s.etat == false %}
                           <img src="{{ asset('images/atelier/a.png') }}" style="width: 50px;height: 50px ">
                       {% else  %}
                           <img src="{{ asset('images/atelier/succus.png') }}" style="width: 50px;height: 50px ">
                       {% endif %}

                   </h4>
                   <h7>  <p class="card-text"><span style="text-decoration: underline"> Etat Generale chassis :</span> {{ s.protectionchassis }} </p></h7>
                   <h7>  <p class="card-text"><span style="text-decoration: underline"> Valider par  :</span> {{ s.valider }} </p></h7>
                   <h7>  <p class="card-text"><span style="text-decoration: underline"> Les Remarques  :</span>
                           {% if s.remarques == null %}
                           *** Rien *** {% else %}
                           {{ s.remarques }} </p></h7> {% endif %}
                   <h7>  <p class="card-text"><span style="text-decoration: underline"> Data Modification :</span> {{ s.date |date('Y-m-d') }} à {{ s.date|date('H:i:s') }} </p></h7>
                   {% endfor %}
                   {% endif %}
               </div>
           </div>
       </div>
       <!--  End atelier acier -->


       <!-- Atelier Peinture   -->
       <div class="col-lg-4 col-sm-6 portfolio-item">
           <div class="card h-100">
               <a href="#"><img class="card-img-top" src="{{ asset('images/atelier/acier.jpg') }}" alt=""></a>
               <div class="card-body">
                   <h4 class="card-title">
                       {% if chassis != null %}
                           {% for p in peinture %}

                               <a href="{{ path('peinture_show', { 'id': p.id }) }}">Atelier Peinture</a>
                           {% endfor %}
                       {% else %}
                           <a href="">Atelier Peinture</a>
                       {% endif %}

                       {% if chassis == null %}
                       <img src="{{ asset('images/atelier/info.png') }}" style="width: 50px;height: 50px ; padding-left: 10px">
                       <h6>  <p class="card-text"><span style="text-decoration: underline"> Etat Generale chassis :</span> ****** </p></h6>
                       <h6>  <p class="card-text"><span style="text-decoration: underline"> Valider par  :</span> ****** </p></h6>
                       <h6>  <p class="card-text"><span style="text-decoration: underline"> Les Remarques  :</span>
                               ****** </p></h6>

                       <h6>  <p class="card-text"><span style="text-decoration: underline"> Data Modification :</span> ****** à ****** </p></h6>
                       {% else %}
                       {% for p in peinture %}

                       {% if p.etat == false %}
                           <img src="{{ asset('images/atelier/a.png') }}" style="width: 50px;height: 50px ">
                       {% else  %}
                           <img src="{{ asset('images/atelier/succus.png') }}" style="width: 50px;height: 50px ">
                       {% endif %}

                   </h4>

                   <h7>  <p class="card-text"><span style="text-decoration: underline"> Valider par  :</span> {{ p.interrieur   }} </p></h7>
                   <h7>  <p class="card-text"><span style="text-decoration: underline"> Les Remarques  :</span>
                           {% if p.remarques == null %}
                           *** Rien *** {% else %}
                           {{ p.remarques }} </p></h7> {% endif %}
                   <h7>  <p class="card-text"><span style="text-decoration: underline"> Data Modification :</span> {{ p.date |date('Y-m-d') }} à {{ p.date|date('H:i:s') }} </p></h7>
                   {% endfor %}
                   {% endif %}
               </div>
           </div>
       </div>
       <!--End Atelier Peinture   -->

    </div>
</div>
{% endblock %}
