{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Ajout Affectation

    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}">Home</a>
        </li>
        <li class="breadcrumb-item active">Affectation Liste</li>
    </ol>
    <!-- End Page Content -->

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('affectation_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
{% endblock %}
