{% extends "base.html.twig" %}

{% block body %}
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active"
                     style="background-image: url('{{ asset('images/slide/1.jpg') }}')">

                    <div class="carousel-caption d-none d-md-block">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('{{ asset('images/slide/2.jpg') }}')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Second Slide</h3>
                        <p>This is a description for the second slide.</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Third Slide</h3>
                        <p>This is a description for the third slide.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">
        <h3 style="margin-bottom: 30px; margin-top: 30px"> Dernier ajout pour chassis de type RR8 </h3>
        <div class="row">
            {% for st in enss %}
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="{{ asset('images/icon/chassis.jpg') }}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">{{ st.nchassis }}</a>
                            </h4>
                            <p class="card-text"> <p>Type Chassis :{{ st.typechassis }}</p>

                            <p>Controler :{{ st.controler }}</p>
                            <p><h4><span class="badge badge-secondary">Date Reception <span class="badge badge-warning">{{ st.datereception|date('Y-m-d') }} </span></span></h4></p>

                        </div>
                    </div>
                </div>
            {% else %}
                <span class="badge badge-danger">Aucune chassis trouvé</span>

            {% endfor %}

        </div>

        <h3 style="margin-bottom: 30px; margin-top: 30px"> Dernier ajout pour chassis de type RR2 </h3>
        <div class="row">
            {% for st in rr2 %}
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="{{ asset('images/icon/chassis.jpg') }}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">{{ st.nchassis }}</a>
                            </h4>
                            <p class="card-text"> <p>Type Chassis :{{ st.typechassis }}</p>

                            <p>Controler :{{ st.controler }}</p>
                            <p><h4><span class="badge badge-secondary">Date Reception <span class="badge badge-warning">{{ st.datereception|date('Y-m-d') }} </span></span></h4></p>

                        </div>
                    </div>
                </div>
            {% else %}
                <span class="badge badge-danger">Aucune chassis trouvé</span>

            {% endfor %}

        </div>

    <h3 style="margin-bottom: 30px; margin-top: 30px"> Dernier ajout pour chassis de type RRA </h3>
    <div class="row">
        {% for st in rra %}
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="{{ asset('images/icon/chassis.jpg') }}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">{{ st.nchassis }}</a>
                        </h4>
                        <p class="card-text"> <p>Type Chassis :{{ st.typechassis }}</p>

                        <p>Controler :{{ st.controler }}</p>
                        <p><h4><span class="badge badge-secondary">Date Reception <span class="badge badge-warning">{{ st.datereception|date('Y-m-d') }} </span></span></h4></p>

                    </div>
                </div>
            </div>
        {% else %}
            <span class="badge badge-danger">Aucune chassis trouvé</span>

        {% endfor %}

    </div>
    </div>
{% endblock %}