{% extends 'base.html.twig' %}

{% block body %}
    <h1>Centralebatteries list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for centralebattery in centralebatteries %}
            <tr>
                <td><a href="{{ path('centralebatteries_show', { 'id': centralebattery.id }) }}">{{ centralebattery.id }}</a></td>
                <td>{{ centralebattery.date }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('centralebatteries_show', { 'id': centralebattery.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('centralebatteries_edit', { 'id': centralebattery.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('centralebatteries_new') }}">Create a new centralebattery</a>
        </li>
    </ul>
{% endblock %}
